.lu-border-CHECKED {
    border: 1px solid @orange !important;
}

.lu-border-CREATED {
    border: 1px solid @green !important;
}

.lu-border-DELETED {
    border: 1px solid @red !important;
}

.lu-border-PENDING {
    border: 1px solid @neutral300 !important;
}
